@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
  @apply text-secondary bg-lightGray;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}
